*{
    box-sizing: border-box;
    padding: 0%;
}
body{
    background-color: rgba(21, 9, 32, 0.712);
    font-family:'Comfortaa', cursive;
}
.grid-container{
    display: grid;    
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-container li{
    padding: 10px;
    width: 100%;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
header{
    margin-top: -80px;
    width: 100%;
}
.titulo{
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    font-size: 65px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
    width: 100%;
}
.weeknd{
    width: 100%;
    top: 0px;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
    width: 100%;
}
ul .descripcion{
    background-color: rgba(242, 234, 232, 0.5);
    left: 70%;
    bottom: 500px;
    list-style: none;
    width: 400px;
    padding: 40px;
    border-radius: 40px;
    position: absolute; 
    z-index: 2;
}
.populares{
    font-size: 40px;
    color: white;
    margin-left: 30px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
}
.container .popular-song{
    display: grid;
    list-style: none;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    margin-left: none;
}
.container li{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}
.album1 .after-hours{
    width: 180px;
    float: left;
    margin-right: 10px;
    margin-left: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
    width: 100px;
}
.nombre-after-hours{
    color: white;
    padding-top: 140px;
    padding-left: 10px;
    font-size: 30px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
}
.after-hrs{
    display: grid;
    list-style: none;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: none;
}
.album1 li{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
}
.foto-albumes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.albumes{
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
}
<<<<<<< HEAD
=======
header{
    margin-top: -80px;
    position: relative;
}
>>>>>>> 1706772ff2dbfb9db882eb6c49298eed856143ca
@media(max-width: 768px){
    ul .descripcion{
        width: 200px;
        font-size: 10px;
        bottom: 320px;
        padding: 15px;
        padding-top: 50px;
    }
    .titulo{
        font-size: 30px;
        top: 110px;
    }
    .weeknd{
        width: 100%;
        margin: 20px;
    }
    .foto-albumes{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 35px;
    }
}
@media (max-width: 320px){
    .grid-container ul{
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: none; 
        text-align: center; 
        padding: 0px 0px 0px 0px;
    }
    .weeknd{
        margin-top: 50px;
    }
    .titulo{
        top: 230px;
        background-color: rgba(163, 160, 148, 0.432);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        padding: 5px;
        font-size: 20px;
    }
    .foto-albumes{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 35px;
    }
    .after-hrs{
        display: none;
    }
    .after-hours{
        display: none;
    }
    .nombre-after-hours{
        display: none;
    }
}