*{
    box-sizing: border-box;
}
body{
    background-color: rgba(41, 22, 41, 0.808);
    font-family:Arial, Helvetica, sans-serif;
}
.titulo{
    color: white;
    position: relative;
    top: 170px;
    right: -50px;
    font-size: 65px;
}
.weeknd{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
}
.foto-albumes{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.albumes{
    width: 10px;
}
ul .descripcion{
    background-color: rgba(242, 234, 232, 0.5);
    position: relative;
    left: 70%;
    bottom: 500px;
    list-style: none;
    width: 400px;
    padding: 40px;
    border-radius: 40px; 
}
.populares{
    font-size: 40px;
    color: white;
    margin-right: 20px;
}
.grid-container .popular-song{
    display: grid;
    list-style: none;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 10px;
    margin-left: none;
}
.grid-container li{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px;
}
.album1 .after-hours{
    width: 180px;
    float: left;
    margin-right: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.644);
}
.nombre-after-hours{
    color: white;
    padding-top: 140px;
    padding-left: 10px;
    font-size: 30px;
}
.after-hrs{
    display: grid;
    list-style: none;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: none;
}
.album1 li{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px;
}

