*{
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: lightskyblue;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0px;
}
.articulo{
    text-align: justify;
    margin-top: 30px;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin-top: 30px;
}
.banner{
    display: block;
    width: 100%;
}
.top-tracks{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul{
    display: block;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0%;
    list-style: none;
    text-align: center;
}
li{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    color: white;
    width: 100%;
}
.todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}
footer .tracks{
    width: 95%;
}
.tracks li{
    background-color: black;
    margin-bottom: 5px;
    color: white;
    
}
.tracks a{
    color:white;
    text-decoration: none;
}