*{
    box-sizing: border-box;
}
body{
    background-color: rgba(21, 9, 32, 0.712);
    background-repeat: no-repeat;
    font-family:'Comfortaa', cursive;
}
.grid-container{
    display: grid;    
    background-color: black;
    text-align: right;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-container li{
    padding: 10px;
    margin: auto;
    width: 100%;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0px;
    border-radius: 20px;
    margin-left: 40px;

}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
.banner{
    display: block;
    width: 100%;
}
.top-tracks{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul .todos{
    display: block;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0%;
    list-style: none;
    text-align: center;
}
li .todos{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    color: white;
    width: 100%;
    box-shadow: grey 2px 2px 2px;
}
.todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}
footer .tracks{
    width: 95%;
}
.tracks li{
    background-color: black;
    margin-bottom: 5px;
    color: white;
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
.tracks a{
    color:white;
    text-decoration: none;
}
.content-search{
    margin-left: 90px;
}
.foto-bandas{
    display: none;
}
@media(max-width: 768px){
    .banner{
        display: grid;
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .foto-bandas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
        padding: 0px;
        text-align: center;
        margin: 15px;
    }
    .todos{
        display: none;
    }   
}
@media (max-width: 320px){
    .todos {
       display: none;
    }
    footer .todos{
        align-items: center;
        margin-right: 50px;
    }
    section .tracks{
        margin-left: 100px;
    }
    .grid-container{
        background-color: black;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .logo{
        display: block;
        align-items: center;
        margin-left: 100%;
    }
    .titulos ul{
        display: grid;
        padding: 0px;
        text-align: center;
        list-style: none;
    }
    .grid-container{
        display: grid;
        margin: auto;
    }
    .titulos li{
        display: block;
    }
    .logo{
        display: grid;
        margin: auto;
    }
    .grid-container ul{
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: none; 
        text-align: center;   
    }
    .todos{
        display: none;
    }
    .banner{
        display: none;
    }
    .foto-bandas{
        margin: 80px 0px;
        padding: 0px;
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .fotos{
        width: 100%;
        margin-bottom: 10px;
        margin: auto;
    }
}
