*{
    box-sizing: border-box;
}
body{
    background-image: url(../img/fotofondo.jpg);
    font-family:'Comfortaa', cursive;
}
.grid-container{
    display: grid;    
    grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    background-color: black;
    text-align: right;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0px;
    border-radius: 20px;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
.banner{
    display: block;
    width: 95%;
    margin: 40px;
    background-color: black;
}
.top-tracks{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul{
    display: block;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0%;
    list-style: none;
    text-align: center;
}
li{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    color: white;
    width: 100%;
    box-shadow: grey 2px 2px 2px;
}
.todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}
footer .tracks{
    width: 95%;
}
.tracks li{
    background-color: black;
    margin-bottom: 5px;
    color: white;
    border-radius: 20px;
    
}
.tracks a{
    color:white;
    text-decoration: none;
}
.content-search{
    margin-left: 90px;
}