*{
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: lightskyblue;
}
.articulo{
    text-align: justify;
    margin-top: 30px;
}
body{
    background-color: black;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin-top: 30px;
}
.banner{
    display: block;
    width: 100%;
    grid-template-rows: 1fr;
}
.top-tracks{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul{
    display: block;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0%;
    list-style: none;
    text-align: center;
}
li{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px;
    color: white;
    padding-bottom: 20px;
    width: 100%;
}
.todos-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}
.titulo1{
    border: 3px solid blue;
    background-color:
}
.artistas{
    border: 4px solid red;
}