*{
    box-sizing: border-box;
}
/* CARRUSEL */
        .slideshow-container{
            width: 100%;
            position:relative;
            margin:auto;
        }
        .carru{
            height: 40%;
        }
        .mySlides{
            display:none;
            /* imagenes aparezcan x defecto */
        }
        .prev, .next{
            cursor:pointer;
            position:absolute;
            top:50%;
            width:auto;
            margin-top:-22px;
            padding:16px;
            color:white;
            font-weight:bold;
            font-size:18px;
            transition:0.6s ease;
            border-radius:0 3px 3px 0;
        /* son las flechitas */
        }
        .next{
            right:0;
            border-radius:3px 0 0 3px;
        }
        .prev:hover, .next:hover{
            background-color:rgba(0,0,0,0.8);
        }
        .text{
            color:#f2f2f2;
            font-size:15px;
            padding:8px 12px;
            position:absolute;
            bottom:8px;
            width:100%;
            text-align:center;
        }
        .numbertext{
            color:#f2f2f2;
            font-size:12px;
            padding:8px 12px;
            position:absolute;
            top:0;
        }
        .fade{
            -webkit-animation-name:fade;
            -webkit-animation-duration:1.5s;
            animation-name:fade;
            animation-duration:1.5s;
        }
        @-webkit-keyframes fade{
            from{opacity:.4}
            to{opacity:1}
        }
        @keyframes fade{
            from{opacity:.4}
            to{opacity:1}
        }
        /* animaciones son */
/* TERMINA CARRUSEL */


body{
    background-color: rgba(21, 9, 32, 0.712);
    font-family:'Comfortaa', cursive;
}
.grid-container{    
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    padding: 0;
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}
.grid-container li{
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
    margin-bottom: 10px;
}
.top-tracks{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul .todos{
    display: block;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    list-style: none;
    text-align: center;
}
ul{
    padding: 0;
}
li .todos{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
    color: white;
    width: 100%;
}
.todos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
    background-color: none;
    gap: 15px;
}
footer .tracks{
    width: 95%;
}
.tracks li{
    background-color: black;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 5px 5px;
    gap: 10px;
    list-style: none;
    text-align: center;
    font-size: 16px;
    padding-bottom: 2%;
}
.tracks a{
    color:white;
    text-decoration: none;
}
.content-search{
    margin-left: 90px;
}
.foto-bandas{
    display: none;
}
.footer{
    background-color: black;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    
}
.fin{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 1fr 1fr 1fr; 
    margin-bottom: 0;
    background-color: black;
    border-radius: 20px;
    padding: 3px;
}


.contenido-footer{
    color: white;
    text-align: center;
    margin: auto;
    list-style: none;
}
.logoDeezer{
    height: 50px;
    /* padding-left: 15%; */
    list-style: none;
    text-decoration: none;
    margin: auto;
}
.redes-footer{
    text-align: initial;
    list-style: none;
    /* color: white; */
    margin: auto;
    text-decoration: none;
    height: 30px;
}
.ocultar{
    display: none;
}
.buscar{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
.buscador{
    text-align: center;
    margin: 30px;
}
.boton-buscador{
    background-color: black;
    color: rgba(245, 245, 245, 0.384);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
@media(max-width: 768px){
    .slider{
        display: none;
    }
    .banner{
        display: grid;
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .foto-bandas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
        text-align: center;
        padding-left: 4px;
        padding-right: 4px;
    }
    .foto-bandas a{
        display: block;
        padding: 3%;
    }
    .foto-bandas a img{
        width: 50%;
    }
    .todos{
        display: none;
    }
   
    .fin{
        font-size: 10px;
        grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr 1fr 1fr 1fr;
    }
    .logoDeezer{
        
        padding: none;
    }
    .boton-buscador{
        width: auto;
    }
    .buscar{
        width: auto;
    }

}
@media(max-width: 496px){
    .titulop{
        padding-bottom: 4%;
    }
    .slider{
        display: none;
    }
    .todos {
        display: none;
     }
     .banner{
         display: none;
     }
     .titulos ul{
         display: grid;
         padding: 0px;
         text-align: center;
         list-style: none;
     }
     .titulos li{
         display: block;
     }
     .logo{
         display: grid;
         margin: auto;
     }
     .grid-container ul{
         display: grid;
         grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
         grid-template-columns: none; 
         text-align: center;
         padding: 0;  
        padding-bottom: 1%;
     }
     .grid-container li{
         padding-top: 0;
     }
     /* .futer{
        grid-template-columns: none;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
        background-color: black;
        /* overflow: auto; */
        margin-bottom: 10%
    }
    /* .futer{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    } */ 
    /* .logoDeezer{
        padding-left: none;
    } */
}
@media (max-width: 453px){
    .todos {
       display: none;
    }
    .banner{
        display: none;
    }
    .grid-container{
        background-color: black;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 0%;
    }
    .titulos ul{
        display: grid;
        padding: 0px;
        text-align: center;
        list-style: none;
    }
    .titulos li{
        display: block;
    }
    .logo{
        display: grid;
        margin: auto;
    }
    .grid-container ul{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: none; 
        text-align: center;
        padding: 0px 0px 0px 0px;   
    }
    .grid-container li{
        padding-top: 0;
    }
    .foto-bandas a{
        display: block;
    }
    .foto-bandas a img{
        width: 70%;   
    }
    .foto-bandas{
        padding: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        width: 100%;
    }
    .fotos{
        width: 100%;
        margin-bottom: 10px;
        margin: auto;
    }
    .fin{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr ;
        gap: 2px;
    } 
    .contenido-footer{
        font-size: 20px;
    }
 
}
/* /* @media (max-width: 320px){ */
    /* .footer{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: none;
    } */
    /* .fin{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr ;
        gap: 2px;
    } 
    .contenido-footer{
        font-size: 20px;
    } */

}

    *{
    margin: 0%;
    padding: 0%;
}
.contenedor-form{
    position: relative;
    background-color: grey;
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    color: white;
    border-radius: 5px;

}
.contenedor-form .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    transition: all .5s ease;
    cursor: pointer;
}
.contenedor-form .toggle span{
    letter-spacing: 1px;
}
.contenedor-form .toggle:hover{
    border-top: 2px solid violet;
    border-bottom: 2px solid blue;
    transition: all .5s ease;
}
.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
/* 
que acceda a esto que le estoy pidiendo */
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
    outline: none;
    background-color: rgba(0,0,0,.5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-family: 'Times New Roman', Times, serif;
    font size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}
/* .contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #0075d9;
} */

.contenedor-form input[type="submit"]{
    background-color: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
}
.contenedor-form input[type="submit"]:hover{
    background-color: rgba(0,117,217,0,7);
}
.contenedor-form .reset-password{
background-color: rgba(0,117,217,0,7);
width: 100%;
color: #fff;
padding: 15px 0;
text-align: center;
border-bottom-right-radius:5px;
border-bottom-left-radius: 5px;
}
.contenedor-form .reset-password a {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
}

/* .contenedor-form .formulario{
    padding: 40px;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
} */