*{
    box-sizing: border-box;
}body{
    background-color: rgba(21, 9, 32, 0.712);
    font-family:'Comfortaa', cursive;
}
.grid-container{    
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    padding: 0;
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}
.grid-container li{
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
.playlist{
    display: grid;
    grid-template-columns: 0.2 fr 3fr;
}
.playlist ul{
    list-style: none;
    
    text-align: left;
    color: white;
    background-color: black;
    padding: 0%;
    border-radius: 5px;
    position: relative;
}
.titplaylist{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 3px;
    padding-left: 1%;
    color: white;
    border-radius: 5px;
}
.fotoartista{
    width: 100%;
    padding-left: 10%;
    position: relative;
}
.encabezado{
    text-align: left;
    color: rgba(255, 255, 255, 0.555);
    border-bottom: 1px solid whitesmoke;
}
.p-celu{
    display: none;
}
.playlist li{
    border-bottom: 3px solid rgba(245, 245, 245, 0.144);
    /* padding-top: 2%;
    padding-bottom: 1%; */
    position: relative;
}
.fotitoPlaylist{
    padding-left: 1%;
    border-radius: 3px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.nombresPlay{
    color: white;
}
.icono-play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} 
.footer{
    background-color: black;
    width: 95%;
    margin: auto;
    border-radius: 20px;
}
.fin{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.3fr 0.3fr 1fr 1fr 1fr;
    height: 70px;
}
.contenido-footer{
    color: white;
    text-align: center;
    margin: auto;
    list-style: none;
}
.logoDeezer{
    height: 50px;
    padding-left: 15%;
}
.redes-footer{
    text-align: initial;
    list-style: none;
    color: white;
    margin: auto;
    text-decoration: none;
}
.ocultar{
    display: none;
}
.buscar{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
.buscador{
    text-align: center;
    margin: 30px;
}
.boton-buscador{
    background-color: black;
    color: rgba(245, 245, 245, 0.384);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
@media(max-width: 768px){
    .boton-buscador{
        width: auto;
    }
    .buscar{
        width: auto;
    }
}
@media(max-width: 470px){
    .icono-play{
        display: none;
    }
    .grid-container ul{
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: none; 
        text-align: center; 
        padding: 0;
    }
    .grid-container li{
        padding-bottom: 5%;
    }
    body{
        width: 100%;
    }
    /* .playlist{
        display: none;
    } */
    .p-celu{
        display: inline;
    }
    .titplaylist{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.473);
    }
    .fotoartista{
        width: 50%;
        padding: 0;
        align-items: center;
    }
    .play-celu{
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 0%;
    }
    .play-celu li{
        margin: 0;
        border-bottom: 2px solid rgba(245, 245, 245, 0.445);
        list-style: none;
        padding: 0;
        color: white;
        padding-top: 3%;
        padding-bottom: 3%;    
    }
    .fin{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }   
    
}
