*{
    box-sizing: border-box;
}
body{
    background-color: rgba(21, 9, 32, 0.712);    
    background-repeat: no-repeat;
    font-family:'Comfortaa', cursive;
}
.grid-container{
    display: grid;    
    text-align: right;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
}
.grid-container li{
    padding: 10px;
    margin: auto;
    width: 100%;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
.playlist ul{
    display: grid;
    list-style: none;
    grid-template-columns: 5% 40% 25% 25% 5%;
    text-align: left;
    color: white;
}
h2{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 10px;
    color: white;
}
.fotoartista{
    height: 80%;
}
.encabezado{
    text-align: left;
    color: rgba(255, 255, 255, 0.555);
    border-bottom: 1px solid whitesmoke;
}