body{
    background-color: rgb(13, 8, 17);
    background-repeat: no-repeat;
    font-family:'Comfortaa', cursive;
}
.grid-container{
    display: grid;    
    background-color: black;
    text-align: right;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-container li{
    padding: 10px;
    margin: auto;
    width: 100%;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
.playlist{
    color: white;
    text-align: left;
    margin: 20px;
}
.img-playlist{
    text-align: left;
}
.img-playlist{
    grid-template-columns: 10px;
    border: 3px solid white;
    display: grid;
    text-align: left;
    color: white;
    align-content: left;
}
.info-playlist{
    color: white;
    position: relative;

}