*{
    box-sizing: border-box;
    padding: 0%;
}
body{
    font-family:'Comfortaa', cursive;
    background-color: rgba(21, 9, 32, 0.712);
}
.grid-container{    
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    padding: 0;
}
.grid-container ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}
.grid-container li{
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo{
    align-items: initial;
    border-radius: 70px;
}
.titulos{
    margin: auto;
    color: white;
    text-decoration: none;
}
h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
    text-align: center;
}
.lista{
    list-style: none;
    text-decoration: none;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(242, 234, 232, 0.1) ;
    border-radius: 10px;
}
.resultados{
    
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}
a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    gap: 30px;
}
.footer{
    background-color: black;
    width: 95%;
    margin: auto;
    border-radius: 20px;
}
.fin{
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.2fr 1fr 1fr 1fr;
    height: 70px;
}
.contenido-footer{
    color: white;
    text-align: center;
    margin: auto;
    list-style: none;
}
.logoDeezer{
    height: 50px;
    padding-left: 15%;
}
.redes-footer{
    text-align: initial;
    list-style: none;
    color: white;
    margin: auto;
}
.ocultar{
    display: none;
}
.buscar{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
.buscador{
    text-align: center;
    margin: 30px;
}
.boton-buscador{
    background-color: black;
    color: rgba(245, 245, 245, 0.384);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 8%;
    text-align: center;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.589) 1px 1px 1px;
}
